/* HEADER */

header {
	position: relative;
}

.navbar {
	border: 0;
	min-height: 0;
	text-align: center;
	background-color: white;
}

h2 {
	font-family: serif;
	font-size: 1.45vw;
	margin-top: 0;
	margin-bottom: 0;
	padding-top: 18%;
	color: #B40404;
}

.navbar-header {
	width: 100%;
	height: 4.4vw;
}

nav .container {
	width: 45%;
	margin: auto;
}

nav #mobile-container {
	width: 100%;
}

.navbar-nav {
    margin: 0;
}

.navbar-header div {
	position: relative;
	float: left;
}

li h2 {
	text-align: center;
}

#header-nav {
	margin-bottom: 0;
}

#item {
	padding: 0;
	width: 17.5%;
}

#item-last {
	padding: 0;
	margin-left: 2%;
	width: 28%;
}

#item-last a h2 {
	padding-top: 11.21%;
}

#menu-items {
	margin: auto;
	width: 100%;
	height: 100%;
}

#menu-items div {
	height: 100%;
}

#logo {
	float: left;
	margin-top: 0.1%;
	margin-left: 15.5%;
	position: fixed;
	z-index: 101;
}

#logo-img {
	background: url('../img/logo.png') no-repeat;
	background-size: 11vw auto;
	background-position: center;
	width: 11vw;
	height: 11vw;
}

#lace {
	background: url('../img/lace.svg') repeat;
	background-size: auto 2.7vw;
	background-position: center;
	width: 100%;
	height: 2.7vw;
	background-color: transparent;
	float: left;
	margin-top: 4.2vw;
	position: fixed;
	z-index: 100;
}

#collapsable-nav ul {
	padding: 0;
}

.navbar-collapse {
	border: none;
}

.navbar-collapse.in {
	overflow-y: visible;
	min-height: 50vw;
}

.navbar-fixed-top {
	z-index: 100;
}

.navbar-fixed-top .navbar-collapse {
	max-height: 50vw;
}

#mobile-container .navbar-header {
	height: 10vw;
	margin: 0;
}

#navbarToggle {
	width: 7vw;
	height: 7vw;
	margin: 1.5vw;
	margin-right: 6vw;
	padding: 0;
	border: none;
}

#menu-icon {
	background: url('../img/menu.svg') no-repeat;
	background-size: 7vw 7vw;
	background-position: center;
	width: 7vw;
	height: 7vw;
}

li a h2 {
	margin-top: 0.3vw;
	margin-bottom: 0.3vw;
}

#nav-list li a {
	padding: 0;
}

/* END HEADER*/

/* FOOTER */

.panel-footer {
	padding: 0.6vw;
	background-color: white;
	border: none;
}

footer {
	height: 2vw;
}

footer div {
	font-size: 1vw;
	line-height: 1vw;
	text-align: center;
	color: #999999;
	background-color: white;
}

/* END FOOTER */

/* OTHER */

body {
	font-size: 1vw;
	line-height: 1.2vw;
}

a:link, a:visited, a:hover, a:focus, a:active {
  text-decoration: none;
  color: inherit;
  display: block;
  border: 0;
  outline: none;
}

.container {
	margin: 0;
	padding: 0;
}

#main-content {
	width: 100%;
	background-color: white;
}

#main-content>div {
	width: 100%;
}

/* INDEX */
#index1 {
	background: url('../img/index/index1.png') no-repeat;
	background-size: 100% 69vw;
	background-position: center;
	width: 100%;
	height: 55vw;
}
#index2 {
	background: url('../img/index/index2.png') no-repeat;
	background-size: 110% auto;
	background-position: center;
	background-attachment: fixed;
	width: 100%;
	height: 30vw;
	opacity: 0.9;
}
#index3 {
	background: url('../img/index/index3.png') no-repeat;
	background-size: 100% 30vw;
	background-position: center;
	width: 100%;
	height: 30vw;
	-webkit-transform: translateZ( 0 );
    transform: translateZ( 0 );
    -webkit-transition: -webkit-transform 0.6s ease-in-out;
    transition: transform 0.6s ease-in-out;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
#index4 {
	background: url('../img/index/index4.png') no-repeat;
	background-size: 110% auto;
	background-position: center;
	background-attachment: fixed;
	width: 100%;
	height: 30vw;
	opacity: 0.9;
}
#index5 {
	background: url('../img/index/index5.png') no-repeat;
	background-size: 100% 30vw;
	background-position: center;
	width: 100%;
	height: 30vw;
}
#index6 {
	background: url('../img/index/index6.png') no-repeat;
	background-size: 110% auto;
	background-position: center;
	background-attachment: fixed;
	width: 100%;
	height: 30vw;
	opacity: 0.9;
}
#index7 {
	background: url('../img/index/index7.png') no-repeat;
	background-size: 100% 30vw;
	background-position: center;
	width: 100%;
	height: 30vw;
}
#index8 {
	background: url('../img/index/index8.png') no-repeat;
	background-size: 110% auto;
	background-position: center;
	background-attachment: fixed;
	width: 100%;
	height: 30vw;
	opacity: 0.9;
}
#index9 {
	background: url('../img/index/index9.png') no-repeat;
	background-size: 100% 49vw;
	background-position: center;
	width: 100%;
	height: 49vw;
}
#index10, #products3 {
	background: url('../img/index/index10.png') no-repeat;
	background-size: 100% 57vw;
	background-position: center;
	width: 100%;
	height: 57vw;
}
#index11 {
	background: url('../img/proizvedeno u srbiji.png') no-repeat;
	background-size: 5vw auto;
	background-position: center;
	float: left;
	margin-top: 7vw;
	margin-left: 73%;
	width: 5vw;
	height: 5vw;
}

#about1 {
	background: url('../img/o-nama/about1.png') no-repeat;
	background-size: 100% 29vw;
	background-position: center;
	width: 100%;
	height: 29vw;
}
#about2 {
	background: url('../img/o-nama/about2.png') no-repeat;
	background-size: 100% 57vw; /* remove, auto resize, cover */
	background-position: center;
	width: 100%;
	height: 57vw;
	padding: 5vw;
	text-align: justify;
}
#about3 {
	background: url('../img/o-nama/about3.png') no-repeat;
	background-size: 125% auto;
	background-position: bottom;
	background-attachment: fixed;
	width: 100%;
	height: 65vw;
}
.about-slideshow-container {
	height: 35vw;
	width: 50vw;
	float: right;
	margin: 3vw;
	margin-top: 0;
	position: relative;
}
@-webkit-keyframes fade {
    0% {opacity: 0;}
    12.5% {opacity: 1;}
    25% {opacity: 0;}
    100% {opacity: 0;}
}
@keyframes fade-about {
    0% {opacity: 0;}
    12.5% {opacity: 1;}
    25% {opacity: 0;}
    100% {opacity: 0;}
}
.about-slideshow {
	width: 100%;
	height: 100%;
	background-color: black;
	position: absolute;
	animation-name: fade-about;
	-webkit-animation-name: fade-about;
	animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    animation-duration: 40s;
    -webkit-animation-duration: 40s;
}
#about-slideshow-1 {
	background: url('../img/o-nama/desno_1.png') no-repeat;
	background-size: 100% 100%;
	background-position: center;
}
#about-slideshow-2 {
	background: url('../img/o-nama/desno_2.png') no-repeat;
	background-size: 100% 100%;
	background-position: center;
	-webkit-animation-delay: -5s;
}
#about-slideshow-3 {
	background: url('../img/o-nama/desno_3.png') no-repeat;
	background-size: 100% 100%;
	background-position: center;
	-webkit-animation-delay: -10s;
}
#about-slideshow-4 {
	background: url('../img/o-nama/desno_4.png') no-repeat;
	background-size: 100% 100%;
	background-position: center;
	-webkit-animation-delay: -15s;
}
#about-slideshow-5 {
	background: url('../img/o-nama/desno_5.png') no-repeat;
	background-size: 100% 100%;
	background-position: center;
	-webkit-animation-delay: -20s;
}
#about-slideshow-6 {
	background: url('../img/o-nama/desno_6.png') no-repeat;
	background-size: 100% 100%;
	background-position: center;
	-webkit-animation-delay: -25s;
}
#about-slideshow-7 {
	background: url('../img/o-nama/desno_7.png') no-repeat;
	background-size: 100% 100%;
	background-position: center;
	-webkit-animation-delay: -30s;
}
#about-slideshow-8 {
	background: url('../img/o-nama/desno_8.png') no-repeat;
	background-size: 100% 100%;
	background-position: center;
	-webkit-animation-delay: -35s;
}

#history1 {
	background: url('../img/istorijat/istorijat_kolor_1.png') no-repeat;
	background-size: 100% 29vw;
	background-position: center;
	width: 100%;
	height: 29vw;
}
#history2 {
	background: url('../img/istorijat/history2.png') no-repeat;
	background-size: 100% 100%;
	background-position: center;
	width: 100%;
	height: 70vw;
}
#history3 {
	background: url('../img/istorijat/history3.png') no-repeat;
	background-size: 100% 86vw;
	background-position: bottom;
	background-attachment: fixed;
	width: 100%;
	height: 70vw;
}
.history-slideshow-1-container {
	height: 29vw;
	width: 100%;
	float: right;
	margin: 3vw 0 3vw 0;
	position: relative;
}
@-webkit-keyframes fade-history {
    0% {opacity: 0;}
    20% {opacity: 1;}
    40% {opacity: 0;}
    100% {opacity: 0;}
}
@keyframes fade-history {
    0% {opacity: 0;}
    20% {opacity: 1;}
    40% {opacity: 0;}
    100% {opacity: 0;}
}
.history-slideshow-1, .history-slideshow-2 {
	width: 100%;
	height: 100%;
	background-color: black;
	position: absolute;
	animation-name: fade-history;
	-webkit-animation-name: fade-history;
	animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    animation-duration: 20s;
    -webkit-animation-duration: 20s;
}
#history-slideshow-1-2 {
	background: url('../img/istorijat/istorijat_kolor_2.png') no-repeat;
	background-size: 100% 100%;
	background-position: center;
}
#history-slideshow-1-3 {
	background: url('../img/istorijat/istorijat_kolor_3.png') no-repeat;
	background-size: 100% 100%;
	background-position: center;
	-webkit-animation-delay: -4s;
}
#history-slideshow-1-4 {
	background: url('../img/istorijat/istorijat_kolor_4.png') no-repeat;
	background-size: 100% 100%;
	background-position: center;
	-webkit-animation-delay: -8s;
}
#history-slideshow-1-5 {
	background: url('../img/istorijat/istorijat_kolor_5.png') no-repeat;
	background-size: 100% 100%;
	background-position: center;
	-webkit-animation-delay: -12s;
}
#history-slideshow-1-6 {
	background: url('../img/istorijat/istorijat_kolor_6.png') no-repeat;
	background-size: 100% 100%;
	background-position: center;
	-webkit-animation-delay: -16s;
}
.history-slideshow-2-container {

}
#history-slideshow-2-7 {
	background: url('../img/istorijat/istorijat_kolor_7.png') no-repeat;
	background-size: 100% 100%;
	background-position: center;
}
#history-slideshow-2-8 {
	background: url('../img/istorijat/istorijat_kolor_8.png') no-repeat;
	background-size: 100% 100%;
	background-position: center;
	-webkit-animation-delay: -4s;
}
#history-slideshow-2-9 {
	background: url('../img/istorijat/istorijat_kolor_9.png') no-repeat;
	background-size: 100% 100%;
	background-position: center;
	-webkit-animation-delay: -8s;
}
#history-slideshow-2-10 {
	background: url('../img/istorijat/istorijat_kolor_10.png') no-repeat;
	background-size: 100% 100%;
	background-position: center;
	-webkit-animation-delay: -12s;
}
#history-slideshow-2-11 {
	background: url('../img/istorijat/istorijat_kolor_11.png') no-repeat;
	background-size: 100% 100%;
	background-position: center;
	-webkit-animation-delay: -16s;
}

#new1 {
	background: url('../img/sta-je-novo/new1.png') no-repeat;
	background-size: 100% 29vw;
	background-position: center;
	width: 100%;
	height: 29vw;
}
#new2 {
	background: url('../img/sta-je-novo/new2.png') no-repeat;
	background-size: 100% 174vw;
	background-position: center;
	width: 100%;
	height: 174vw;
}
#new3 {
	background: url('../img/sta-je-novo/new3.png') no-repeat;
	background-size: 140% auto;
	background-position: bottom;
	background-attachment: fixed;
	width: 100%;
	height: 40vw;
}

#bela1 {
	background: url('../img/bela-peciva/bela1.png') no-repeat;
	background-size: 100% 29vw;
	background-position: center;
	width: 100%;
	height: 29vw;
}
#bela2 {
	background: url('../img/bela-peciva/bela2.png') no-repeat;
	background-size: 100% 230vw;
	background-position: center;
	width: 100%;
	height: 230vw;
}
#bela3 {
	background: url('../img/bela-peciva/bela3.png') no-repeat;
	background-size: 100% auto;
	background-position: bottom;
	background-attachment: fixed;
	width: 100%;
	height: 20vw;
}

#hleb1 {
	background: url('../img/hleb/hleb1.png') no-repeat;
	background-size: 100% 29vw;
	background-position: center;
	width: 100%;
	height: 29vw;
}
#hleb2 {
	background: url('../img/hleb/hleb2.png') no-repeat;
	background-size: 100% 117vw;
	background-position: center;
	width: 100%;
	height: 117vw;
}
#hleb3, #pogace3 {
	background: url('../img/hleb/hleb3.png') no-repeat;
	background-size: 100% auto;
	background-position: bottom;
	background-attachment: fixed;
	width: 100%;
	height: 40vw;
}

#nika1 {
	background: url('../img/nika/nika1.png') no-repeat;
	background-size: 100% 38vw;
	background-position: center;
	width: 100%;
	height: 38vw;
}
#nika2 {
	background: url('../img/nika/nika2.png') no-repeat;
	background-size: 100% 172vw;
	background-position: center;
	width: 100%;
	height: 103vw;
}
#nika3 {
	background: url('../img/nika/nika3.png') no-repeat;
	background-size: 100% auto;
	background-position: bottom;
	background-attachment: fixed;
	width: 100%;
	height: 27vw;
}
#nika4 {
	background: url('../img/nika/nika large.png') no-repeat;
	background-size: 24vw auto;
	background-position: center;
	float: left;
	margin-top: 10vw;
	margin-left: 25%;
	width: 20vw;
	height: 20vw;
}
#nika5 {
	background: url('../img/proizvedeno u srbiji.png') no-repeat;
	background-size: 7vw auto;
	background-position: center;
	float: left;
	margin-top: 2vw;
	margin-left: 74%;
	width: 7vw;
	height: 4.7vw;
}
#nika6 {
	background: url('../img/nika/cinija_krem.png') no-repeat;
	background-size: 35vw auto;
	background-position: center;
	float: left;
	margin-top: 17vw;
	margin-left: 14%;
	width: 45vw;
	height: 20vw;
}
#nika7 {
	background: url('../img/nika/krem.png') no-repeat;
	background-size: 35vw auto;
	background-position: center;
	position: absolute;
	margin-top: 17vw;
	margin-left: 47%;
	width: 35vw;
	height: 20vw;
}
#nika8 {
	background: url('../img/nika/cinija_kajsija.png') no-repeat;
	background-size: 30vw auto;
	background-position: center;
	float: left;
	margin-top: 7vw;
	margin-left: 12%;
	width: 45vw;
	height: 20vw;
}
#nika9 {
	background: url('../img/nika/kajsija.png') no-repeat;
	background-size: 35vw auto;
	background-position: center;
	position: absolute;
	margin-top: 44vw;
	margin-left: 47%;
	width: 35vw;
	height: 20vw;
}
#nika10 {
	background: url('../img/nika/cinija_vanila.png') no-repeat;
	background-size: 35vw auto;
	background-position: center;
	float: left;
	margin-top: 7vw;
	margin-left: 16%;
	width: 45vw;
	height: 20vw;
}
#nika11 {
	background: url('../img/nika/vanila.png') no-repeat;
	background-size: 35vw auto;
	background-position: center;
	position: absolute;
	margin-top: 72vw;
	margin-left: 47%;
	width: 35vw;
	height: 20vw;
}
#nika12, #nika13, #nika14 {
	background: url('../img/nika/nika large.png') no-repeat;
	background-size: 10vw auto;
	background-position: center;
	position: absolute;
	margin-left: 25%;
	width: 10vw;
	height: 10vw;
}
#nika12 {
	margin-top: 31vw;
}
#nika13 {
	margin-top: 57.6vw;
}
#nika14 {
	margin-top: 85.7vw;
}

#pite1 {
	background: url('../img/pite/pite1.png') no-repeat;
	background-size: 100% 29vw;
	background-position: center;
	width: 100%;
	height: 29vw;
}
#pite2 {
	background: url('../img/pite/pite2.png') no-repeat;
	background-size: 100% 172vw;
	background-position: center;
	width: 100%;
	height: 172vw;
}
#pite22 {
	background: url('../img/pite/pite22.png') no-repeat;
	background-size: 100% 172vw;
	background-position: center;
	width: 100%;
	height: 172vw;
}
#pite3 {
	background: url('../img/pite/pite3.png') no-repeat;
	background-size: 100% auto;
	background-position: bottom;
	background-attachment: fixed;
	width: 100%;
	height: 20vw;
}

#pogace1 {
	background: url('../img/pogace/pogace1.png') no-repeat;
	background-size: 100% 29vw;
	background-position: center;
	width: 100%;
	height: 29vw;
}
#pogace2 {
	background: url('../img/pogace/pogace2.png') no-repeat;
	background-size: 100% 183vw;
	background-position: center;
	width: 100%;
	height: 183vw;
}

#half1 {
	background: url('../img/polupeceni-program/half1.png') no-repeat;
	background-size: 100% 29vw;
	background-position: center;
	width: 100%;
	height: 29vw;
}
#half2 {
	background: url('../img/polupeceni-program/half2.png') no-repeat;
	background-size: 100% 172vw;
	background-position: center;
	width: 100%;
	height: 172vw;
}
#half3 {
	background: url('../img/polupeceni-program/half3.png') no-repeat;
	background-size: 100% auto;
	background-position: bottom;
	background-attachment: fixed;
	width: 100%;
	height: 30vw;
}

#salty1 {
	background: url('../img/slana-peciva/salty1.png') no-repeat;
	background-size: 100% 29vw;
	background-position: center;
	width: 100%;
	height: 29vw;
}
#salty2 {
	background: url('../img/slana-peciva/salty2.png') no-repeat;
	background-size: 100% 169vw;
	background-position: center;
	width: 100%;
	height: 169vw;
}
#salty22 {
	background: url('../img/slana-peciva/salty22.png') no-repeat;
	background-size: 100% 193vw;
	background-position: center;
	width: 100%;
	height: 193vw;
}
#salty3 {
	background: url('../img/slana-peciva/salty3.png') no-repeat;
	background-size: 100% auto;
	background-position: bottom;
	background-attachment: fixed;
	width: 100%;
	height: 22vw;
}

#sara1 {
	background: url('../img/slatka-peciva/sara1.png') no-repeat;
	background-size: 100% 29vw;
	background-position: center;
	width: 100%;
	height: 29vw;
}
#sara2 {
	background: url('../img/slatka-peciva/sara2.png') no-repeat;
	background-size: 100% 244vw;
	background-position: center;
	width: 100%;
	height: 244vw;
}
#sara3 {
	background: url('../img/slatka-peciva/sara3.png') no-repeat;
	background-size: 100% auto;
	background-position: bottom;
	background-attachment: fixed;
	width: 100%;
	height: 20vw;
}

#freeze1 {
	background: url('../img/smrznuti-program/freeze1.png') no-repeat;
	background-size: 100% 29vw;
	background-position: center;
	width: 100%;
	height: 29vw;
}
#freeze2 {
	background: url('../img/smrznuti-program/freeze2.png') no-repeat;
	background-size: 100% 244vw;
	background-position: center;
	width: 100%;
	height: 244vw;
}
#freeze22 {
	background: url('../img/smrznuti-program/freeze22.png') no-repeat;
	background-size: 100% 234vw;
	background-position: center;
	width: 100%;
	height: 234vw;
}
#freeze3 {
	background: url('../img/smrznuti-program/freeze3.png') no-repeat;
	background-size: 130% auto;
	background-position: bottom;
	background-attachment: fixed;
	width: 100%;
	height: 20vw;
}

#products1 {
	background: url('../img/proizvodi/products1.png') no-repeat;
	background-size: 100% 29vw;
	background-position: center;
	width: 100%;
	height: 29vw;
}
#products2 {
	background: url('../img/proizvodi/products2.png') no-repeat;
	background-size: 100% 149vw;
	background-position: bottom;
	width: 100%;
	height: 61vw;
}
#products4 {
	background: url('../img/proizvodi/products4.png') no-repeat;
	background-size: 100% auto;
	background-position: center;
	position: absolute;
	margin-top: -4.85vw;
	margin-left: 15%;
	width: 70%;
	height: 40vw;
}
#products5 {
	background: url('../img/proizvodi/products5.png') no-repeat;
	background-size: 100% auto;
	background-position: center;
	position: absolute;
	margin-left: 15%;
	width: 5%;
	height: 13vw;
}
#line1 {
	width: 70%;
	border-bottom: 0.1vw solid white;
	position: absolute;
	margin-left: 15%;
	margin-top: 30.3vw;
}
#line2 {
	width: 70%;
	border-bottom: 0.1vw solid white;
	position: absolute;
	margin-left: 15%;
	margin-top: 60vw;
}
#pnav {
	position: absolute;
	margin-top: 75vh;
	margin-left: 15%;
	width: 70%;
}
#pnav a {
	float: left;
	width: 10%;
	margin-right: 1.25%;

}
#pnav #last {
	margin-right: 0;
}
#pnav a div {
	float: none;
}
#ptext {
	padding-top: 0.7vw;
	text-align: center;
	width: 100%;
}
#pp1 {
	background: url('../img/proizvodi/pp1.png') no-repeat;
	background-size: 100% auto;
	background-position: top;
	width: 100%;
	height: 18.7vw;
	border-bottom: 0.14vw solid white;
}
#pp2 {
	background: url('../img/proizvodi/pp2.png') no-repeat;
	background-size: 100% auto;
	background-position: top;
	width: 100%;
	height: 18.7vw;
	border-bottom: 0.14vw solid white;
}
#pp3 {
	background: url('../img/proizvodi/pp3.png') no-repeat;
	background-size: 100% auto;
	background-position: top;
	width: 100%;
	height: 18.7vw;
	border-bottom: 0.14vw solid white;
}
#pp4 {
	background: url('../img/proizvodi/pp4.png') no-repeat;
	background-size: 100% auto;
	background-position: top;
	width: 100%;
	height: 18.7vw;
	border-bottom: 0.14vw solid white;
}
#pp5 {
	background: url('../img/proizvodi/pp5.png') no-repeat;
	background-size: 100% auto;
	background-position: top;
	width: 100%;
	height: 18.7vw;
	border-bottom: 0.14vw solid white;
}
#pp6 {
	background: url('../img/proizvodi/pp6.png') no-repeat;
	background-size: 100% auto;
	background-position: top;
	width: 100%;
	height: 18.7vw;
	border-bottom: 0.14vw solid white;
}
#pp7 {
	background: url('../img/proizvodi/pp7.png') no-repeat;
	background-size: 100% auto;
	background-position: top;
	width: 100%;
	height: 18.7vw;
	border-bottom: 0.14vw solid white;
}
#pp8 {
	background: url('../img/proizvodi/pp8.png') no-repeat;
	background-size: 100% auto;
	background-position: top;
	width: 100%;
	height: 18.7vw;
	border-bottom: 0.14vw solid white;
}
#pp9 {
	background: url('../img/proizvodi/pp9.png') no-repeat;
	background-size: 100% auto;
	background-position: top;
	width: 100%;
	height: 18.7vw;
	border-bottom: 0.14vw solid white;
}

/* ELEMENTS */

.circle {
  width: 2vw;
  height: 2vw;
  border-radius: 1vw;
  background-color: #ff9933;
  position: absolute;
}

.horizontal-squares {
  background: url('../img/white square.png') repeat;
  background-size: 1vw 1vw;
  height: 1vw;
  position: absolute;
}

.vertical-squares {
  background: url('../img/white square.png') repeat;
  background-size: 1vw 1vw;
  width: 1vw;
  position: absolute;
}

/* END ELEMENTS*/

/* END OTHER*/

/* MEDIA */

@media (max-width: 991px) {
	#logo {
		float: left;
		margin-top: 0.1%;
		margin-left: 5%;
		position: fixed;
		z-index: 101;
	}

	#logo-img {
		background: url('../img/logo.png') no-repeat;
		background-size: 25vw auto;
		background-position: center;
		width: 25vw;
		height: 25vw;
	}

	footer {
		height: 3vw;
	}

	footer div {
		font-size: 2vw;
		line-height: 2vw;
	}

	h2 {
		font-family: serif;
		font-size: 4vw;
		margin: 0;
		padding-top: 2vw;
		padding-bottom: 3vw;
		color: #B40404;
	}
}

@media (min-width: 768px) and (max-width: 991px) { /* SM */
	/* BREAKPOINT CHANGE */
	.navbar-header {
		float: none;
	}
	.navbar-left,.navbar-right {
		float: none !important;
	}
	.navbar-toggle {
		display: block;
	}
	.navbar-collapse {
		border-top: 1px solid transparent;
		box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
	}
	.navbar-fixed-top {
		top: 0;
		border-width: 0 0 1px;
	}
	.navbar-collapse.collapse {
		display: none!important;
	}
	.navbar-nav {
		float: none!important;
	}
	.navbar-nav>li {
		float: none;
	}
	.navbar-nav>li>a {
		padding-top: 10px;
		padding-bottom: 10px;
	}
	.collapse.in{
		display:block !important;
	}
}

/* END MEDIA */