@media (min-width: 1000.5px) {
	/* HEADER */

	header {
		position: relative;
	}

	.navbar {
		border: 0;
		min-height: 0;
		text-align: center;
		background-color: white;
	}

	h2 {
		font-family: serif;
		font-size: 14.5px;
		margin-top: 0;
		margin-bottom: 0;
		padding-top: 18%;
		color: #B40404;
	}

	.navbar-header {
		width: 100%;
		height: 44px;
	}

	nav .container {
		width: 450px;
		margin: auto;
	}

	nav #mobile-container {
		width: 100%;
	}

	.navbar-nav {
	    margin: 0;
	}

	.navbar-header div {
		position: relative;
		float: left;
	}

	li h2 {
		text-align: center;
	}

	#header-nav {
		margin-bottom: 0;
	}

	#item {
		width: 17.5%;
	}

	#item-last {
		margin-left: 2%;
		width: 28%;
	}

	#item-last a h2 {
		padding-top: 11.21%;
	}

	#menu-items {
		margin: auto;
		width: 100%;
		height: 100%;
	}

	.no-fixer {
		width: 450px;
		height: 44px;
		z-index: 107;
		position: absolute;
		left: 0;
		right: 0;
		margin: auto;
		margin-top: 54vw;
	}

	.fixer {
		margin: auto;
		width: 450px;
		height: 44px;
		z-index: 107;
		position: fixed;
		left: 0;
		right: 0;
		margin: auto;
	}

	.no-fixer1 {
		margin: auto;
		width: 100px;
		height: 44px;
		z-index: 106;
		position: absolute;
		margin-top: 53vw;
		margin-left: 74.7%;
		text-align: center;
	}

	.fixer1 {
		margin: auto;
		width: 100px;
		height: 44px;
		z-index: 106;
		position: fixed;
		margin-top: -10px;
		margin-left: 0;
		right: 0;
		margin-right: 150px;
		text-align: center;
	}

	.no-fixer2 {
		width: 450px;
		height: 44px;
		z-index: 106;
		position: absolute;
		left: 0;
		right: 0;
		margin: auto;
		margin-top: 54.5vw;
	}

	.fixer3, .fixer2 {
		width: 450px;
		height: 44px;
		z-index: 106;
		position: fixed;
		left: 0;
		right: 0;
		margin: auto;
		margin-top: 14px;
	}

	#slogan {
		background: url('../img/index/slogan.png') no-repeat;
		background-size: 100% auto;
		position: absolute;
		z-index: 102;
		height: 44px;
		width: 190px;
		left: 0;
		right: 0;
		margin: auto;
	}

	#menu-items-scroll div, #menu-lines-scroll div, #menu-lines-scroll-x div {
		position: relative;
		float: left;
		text-align: center;
	}

	#menu-lines-scroll #item, #menu-lines-scroll-x #item {
		border-right: 0.1vw solid #555555;
		height: 30px;
	}

	#menu-lines-scroll-x #item-last {
		height: 30px;
	}

	#menu-items div {
		height: 100%;
	}

	#social {
		position: fixed;
		z-index: 105;
		margin-left: 0;
		right: 0;
		margin-right: 50px;
		margin-top: 3px;
		height: 35px;
		width: 80px;
		border-bottom: 0.07vw solid #AAAAAA;
	}
	#fb {
		background: url('../img/fb.svg') no-repeat;
		background-size: 26px auto;
		background-position: center;
		width: 40px;
		height: 35px;
		float: left;
	}
	#ig {
		background: url('../img/ig.svg') no-repeat;
		background-size: 26px auto;
		background-position: center;
		width: 40px;
		height: 35px;
		float: left;
	}

	#logo {
		float: left;
		margin-top: -0.7vw;
		margin-left: 145px;
		position: fixed;
		z-index: 101;
	}

	#logo-img {
		background: url('../img/logo.png') no-repeat;
		background-size: 125px auto;
		background-position: center;
		width: 125px;
		height: 125px;
	}

	#lace {
		background: url('../img/lace.svg') repeat;
		background-size: auto 42px;
		background-position: top;
		width: 100%;
		height: 42px;
		background-color: transparent;
		float: left;
		margin-top: 44px;
		position: fixed;
		z-index: 100;
	}

	.navbar-fixed-top {
		z-index: 100;
	}

	/* END HEADER*/

	/* OTHER */

	body {
		font-size: 10px;
		line-height: 12px;
	}

	.container {
		margin: 0;
		padding: 0;
	}

	#main-content {
		width: 100%;
		background-color: white;
	}

	#main-content>div {
		width: 100%;
	}

	#index2 {
		background: url('../img/index/index2.png') no-repeat;
		background-size: 110% auto;
		background-position: center;
		background-attachment: fixed;
		width: 100%;
		height: 200px;
		opacity: 0.9;
		position: relative;
	}
	#index3 {
		background: url('../img/index/index3.png') no-repeat;
		background-size: 100% auto;
		background-position: center;
		width: 1000px;
		height: 300px;
		margin: auto;
		-webkit-transform: translateZ( 0 );
	    transform: translateZ( 0 );
	    -webkit-transition: -webkit-transform 0.6s ease-in-out;
	    transition: transform 0.6s ease-in-out;
	    -webkit-backface-visibility: hidden;
	    backface-visibility: hidden;
	    position: relative;
	}
	#index4 {
		background: url('../img/index/index4.png') no-repeat;
		background-size: 110% auto;
		background-position: center;
		background-attachment: fixed;
		width: 100%;
		height: 200px;
		opacity: 0.9;
		position: relative;
	}
	#index5 {
		background: url('../img/index/index5.png') no-repeat;
		background-size: 100% auto;
		background-position: center;
		width: 1000px;
		height: 300px;
		margin: auto;
		position: relative;
	}
	#index6 {
		background: url('../img/index/index6.png') no-repeat;
		background-size: 110% auto;
		background-position: center;
		background-attachment: fixed;
		width: 100%;
		height: 200px;
		opacity: 0.9;
		position: relative;
	}
	#index7 {
		background: url('../img/index/index7.png') no-repeat;
		background-size: 100% auto;
		background-position: center;
		width: 1000px;
		height: 300px;
		margin: auto;
		position: relative;
	}
	#i7img {
		background: url('../img/proizvedeno u srbiji.png') no-repeat;
		background-size: 100% auto;
		background-position: center;
		width: 90px;
		height: 90px;
		position: absolute;
		top: 15%;
		left: 78%;
	}
	#index8 {
		background: url('../img/index/index8.png') no-repeat;
		background-size: 110% auto;
		background-position: center;
		background-attachment: fixed;
		width: 100%;
		height: 200px;
		opacity: 0.9;
		position: relative;
	}
	#index9 {
		background: url('../img/index/index9.png') no-repeat;
		background-size: 50% auto;
		background-position: left top;
		width: 1000px;
		height: 410px;
		margin: auto;
	}

	/* contact form */

	#form-container {
		margin-left: 50%;
		padding: 20px;
		height: 100%;
		position: relative;
		color: darkred;
		font-size: 11px;
	}
	#form-container div, #form-container input, #form-container textarea {
		margin-left: 30px;
	}
	#form-vline {
		border-left: 0.1vw solid #707070;
		height: 370px;
		position: absolute;
		left: 0;
	}
	#form-container input, #form-container textarea {
		width: 70%;
		color: #333333;
	}
	#form-container #f8 {
		width: 20%;
		height: 25px;
		margin-top: 8px;
		color: darkred;
	}
	#f1 {
		color: #707070;
		font-size: 16px;
		line-height: 21px;
		border-bottom: 0.1vw solid #707070;
		width: 30%;
		margin-top: 50px;
	}
	#f2, #f4, #f6, #f9, #f10, #f11 {
		margin-top: 10px;
		line-height: 16px;
	}
	#f10, #f11 {
		margin-top: 4px;
	}
	#f3, #f5, #f7 {
		padding: 4px;
	}

	/* end contact form */

	#index10, #products3 {
		background: url('../img/index/index10.png') no-repeat;
		background-size: 100% 57vw;
		background-position: center;
		width: 100%;
		height: 57vw;
	}
	#index11 {
		background: url('../img/proizvedeno u srbiji.png') no-repeat;
		background-size: 5vw auto;
		background-position: center;
		float: left;
		margin-top: 8vw;
		margin-left: 73%;
		width: 5vw;
		height: 5vw;
	}

	#main-content #about2 {
		background: url('../img/o-nama/about2.png') no-repeat;
		background-size: 100% 100%;
		background-position: center;
		width: 1000px;
		padding: 70px;
		padding-bottom: 100px;
		text-align: justify;
		position: relative;
		margin: auto;
	}
	.about-slideshow-container {
		height: 350px;
		width: 500px;
		float: right;
		margin-left: 30px;
		margin-bottom: 30px;
		margin-top: 0;
		position: relative;
	}

	#main-content #history2 {
		background: url('../img/istorijat/history2.png') no-repeat;
		background-size: 100% 100%;
		background-position: center;
		width: 1000px;
		position: relative;
		margin: auto;
	}
	#main-content #history2-2 {
		background: url('../img/istorijat/history2.png') no-repeat;
		background-size: 100% 100%;
		background-position: center;
		width: 1000px;
		position: relative;
		margin: auto;
	}
	#main-content #history2-3 {
		background: url('../img/istorijat/history2.png') no-repeat;
		background-size: 100% 100%;
		background-position: center;
		width: 1000px;
		position: relative;
		padding-bottom: 50px;
		margin: auto;
	}

	.history-slideshow-1-container {
		height: 290px;
		width: 100%;
		position: relative;
	}

	#main-content #new2 {
		background: url('../img/sta-je-novo/new2.png') no-repeat;
		background-size: 100% auto;
		background-position: center;
		width: 1000px;
		height: 1740px;
		position: relative;
		margin: auto;
	}

	#main-content #samojako2 {
		background: url('../img/bela-peciva/bela2.png') no-repeat;
		background-size: 100% 2300px;
		background-position: center;
		width: 1000px;
		height: 2300px;
		position: relative;
		margin: auto;
	}

	/*#docs a h2,*/ #docs1 a h2 {
		line-height: 12px;
		padding-top: 23px;
	}
	#docs a h2, #docs-x a h2 {
		line-height: 15px;
		padding-top: 18px;
	}

	#main-content #docs2 {
		background: url('../img/dokumenti/docs2.png') no-repeat;
		background-size: 100% auto;
		background-position: center;
		width: 1000px;
		height: 700px;
		position: relative;
		margin: auto;
	}

	#main-content #hleb2 {
		background: url('../img/hleb/hleb2.png') no-repeat;
		background-size: 100% 1170px;
		background-position: center;
		width: 1000px;
		height: 1170px;
		position: relative;
		margin: auto;
	}

	#main-content #nika2 {
		background: url('../img/nika/nika2.png') no-repeat;
		background-size: 100% 1720px;
		background-position: center;
		width: 1000px;
		height: 1030px;
		position: relative;
		margin: auto;
	}
	#nika6 {
		background: url('../img/nika/cinija_krem.png') no-repeat;
		background-size: 350px auto;
		background-position: center;
		float: left;
		margin-top: 170px;
		margin-left: 14%;
		width: 450px;
		height: 200px;
	}
	#nika7 {
		background: url('../img/nika/krem.png') no-repeat;
		background-size: 389.5px auto;
		background-position: center;
		position: absolute;
		margin-top: 170px;
		margin-left: 43.4%;
		width: 389.5px;
		height: 200px;
	}
	#nika8 {
		background: url('../img/nika/cinija_kajsija.png') no-repeat;
		background-size: 300px auto;
		background-position: center;
		float: left;
		margin-top: 70px;
		margin-left: 12%;
		width: 450px;
		height: 200px;
	}
	#nika9 {
		background: url('../img/nika/kajsija.png') no-repeat;
		background-size: 350px auto;
		background-position: center;
		position: absolute;
		margin-top: 440px;
		margin-left: 47%;
		width: 350px;
		height: 200px;
	}
	#nika10 {
		background: url('../img/nika/cinija_vanila.png') no-repeat;
		background-size: 350px auto;
		background-position: center;
		float: left;
		margin-top: 70px;
		margin-left: 16%;
		width: 450px;
		height: 200px;
	}
	#nika11 {
		background: url('../img/nika/vanila.png') no-repeat;
		background-size: 350px auto;
		background-position: center;
		position: absolute;
		margin-top: 720px;
		margin-left: 47%;
		width: 350px;
		height: 200px;
	}
	#nika12, #nika13, #nika14 {
		background: url('../img/nika/nika large.png') no-repeat;
		background-size: 100px auto;
		background-position: center;
		position: absolute;
		margin-left: 25%;
		width: 100px;
		height: 100px;
	}
	#nika12 {
		margin-top: 310px;
	}
	#nika13 {
		margin-top: 576px;
	}
	#nika14 {
		margin-top: 857px;
	}

	#main-content #pite2 {
		background: url('../img/pite/pite2.png') no-repeat;
		background-size: 100% 1720px;
		background-position: center;
		width: 1000px;
		height: 1720px;
		position: relative;
		margin: auto;
	}
	#main-content #pite22 {
		background: url('../img/pite/pite22.png') no-repeat;
		background-size: 100% 1720px;
		background-position: center;
		width: 1000px;
		height: 1720px;
		position: relative;
		margin: auto;
	}

	#main-content #pogace2 {
		background: url('../img/pogace/pogace2.png') no-repeat;
		background-size: 100% 1830px;
		background-position: center;
		width: 1000px;
		height: 1830px;
		position: relative;
		margin: auto;
	}

	#main-content #half2 {
		background: url('../img/polupeceni-program/half2.png') no-repeat;
		background-size: 100% 1720px;
		background-position: center;
		width: 1000px;
		height: 1720px;
		position: relative;
		margin: auto;
	}

	#main-content #salty2 {
		background: url('../img/slana-peciva/salty2.png') no-repeat;
		background-size: 100% 1690px;
		background-position: center;
		width: 1000px;
		height: 1690px;
		position: relative;
		margin: auto;
	}
	#main-content #salty22 {
		background: url('../img/slana-peciva/salty22.png') no-repeat;
		background-size: 100% 1930px;
		background-position: center;
		width: 1000px;
		height: 1930px;
		position: relative;
		margin: auto;
	}

	#main-content #sara2 {
		background: url('../img/slatka-peciva/sara2.png') no-repeat;
		background-size: 100% 2440px;
		background-position: center;
		width: 1000px;
		height: 2440px;
		position: relative;
		margin: auto;
	}

	#main-content #freeze2 {
		background: url('../img/smrznuti-program/freeze2.png') no-repeat;
		background-size: 100% 2440px;
		background-position: center;
		width: 1000px;
		height: 2440px;
		position: relative;
		margin: auto;
	}
	#main-content #freeze22 {
		background: url('../img/smrznuti-program/freeze22.png') no-repeat;
		background-size: 100% 2340px;
		background-position: center;
		width: 1000px;
		height: 2340px;
		position: relative;
		margin: auto;
	}

	#main-content #products2 {
		background: url('../img/proizvodi/products2.png') no-repeat;
		background-size: 100% 1490px;
		background-position: bottom;
		width: 1000px;
		height: 400px;
		position: relative;
		left: 0;
		right: 0;
		margin: auto;
	}
	#products4 {
		background: url('../img/proizvodi/products4.png') no-repeat;
		background-size: 100% auto;
		background-position: center;
		position: absolute;
		margin-top: -45.5px;
		margin-left: 15%;
		width: 70%;
		height: 400px;
	}
	#products5 {
		background: url('../img/proizvodi/products5.png') no-repeat;
		background-size: 100% auto;
		background-position: center;
		position: absolute;
		margin-left: 15%;
		width: 5%;
		height: 130px;
	}
	#line1 {
		width: 70%;
		border-bottom: 0.1vw solid white;
		position: absolute;
		margin-left: 15%;
		margin-top: 303px;
	}
	#line2 {
		width: 70%;
		border-bottom: 0.1vw solid white;
		position: absolute;
		margin-left: 15%;
		margin-top: 390px;
	}
	#pp1 {
		background: url('../img/proizvodi/pp1.png') no-repeat;
		background-size: 100% auto;
		background-position: top;
		width: 100%;
		height: 187px;
		border-bottom: 0.14vw solid white;
	}
	#pp2 {
		background: url('../img/proizvodi/pp2.png') no-repeat;
		background-size: 100% auto;
		background-position: top;
		width: 100%;
		height: 187px;
		border-bottom: 0.14vw solid white;
	}
	#pp3 {
		background: url('../img/proizvodi/pp3.png') no-repeat;
		background-size: 100% auto;
		background-position: top;
		width: 100%;
		height: 187px;
		border-bottom: 0.14vw solid white;
	}
	#pp4 {
		background: url('../img/proizvodi/pp4.png') no-repeat;
		background-size: 100% auto;
		background-position: top;
		width: 100%;
		height: 187px;
		border-bottom: 0.14vw solid white;
	}
	#pp5 {
		background: url('../img/proizvodi/pp5.png') no-repeat;
		background-size: 100% auto;
		background-position: top;
		width: 100%;
		height: 187px;
		border-bottom: 0.14vw solid white;
	}
	#pp6 {
		background: url('../img/proizvodi/pp6.png') no-repeat;
		background-size: 100% auto;
		background-position: top;
		width: 100%;
		height: 187px;
		border-bottom: 0.14vw solid white;
	}
	#pp7 {
		background: url('../img/proizvodi/pp7.png') no-repeat;
		background-size: 100% auto;
		background-position: top;
		width: 100%;
		height: 187px;
		border-bottom: 0.14vw solid white;
	}
	#pp8 {
		background: url('../img/proizvodi/pp8.png') no-repeat;
		background-size: 100% auto;
		background-position: top;
		width: 100%;
		height: 187px;
		border-bottom: 0.14vw solid white;
	}
	#pp9 {
		background: url('../img/proizvodi/pp9.png') no-repeat;
		background-size: 100% auto;
		background-position: top;
		width: 100%;
		height: 187px;
		border-bottom: 0.14vw solid white;
	}

	/* ELEMENTS */

	.circle {
		position: absolute;
		width: 20px;
		height: 20px;
		border-radius: 10px;
		background-color: #ff9933;
	}

	.horizontal-squares {
		position: absolute;
		background: url('../img/white square.png') repeat;
		background-size: auto 100%;
		height: 10px;
	}

	.vertical-squares {
		position: absolute;
		background: url('../img/white square.png') repeat;
		background-size: 100% auto;
		width: 10px;
	}

	/* general */

	/*#history2 #return-home {
		position: absolute;
		height: 4vw;
		width: 85.9%;
		bottom: 1vw;
		left: 0;
		right: 0;
		margin: auto;
	}
	#history2 #return-home a {
		width: 45%;
	}
	#history2 #return-home-1 {
		height: 4vw;
	}
	#history2 #return-home-2 {
		border-bottom: 0.1vw solid white;
	}
	#history2 #return-home-circle {
		position: absolute;
		width: 2vw;
		height: 2vw;
		border-radius: 1vw;
		top: 1vw;
		left: -1vw;
	}
	#history2 #return-home-dots {
		position: absolute;
		width: 16%;
		top: 1.5vw;
		left: 2.5%;
		height: 1vw;
	}
	#history2 #return-home-text {
		position: absolute;
		left: 20%;
		color: white;
		font-size: 1.3vw;
		line-height: 4vw;
	}*/

	#return-home {
		position: absolute;
		height: 40px;
		width: 85.9%;
		bottom: 10px;
		left: 0;
		right: 0;
		margin: auto;
	}
	#return-home-1 {
		height: 40px;
	}
	#return-home-circle {
		position: absolute;
		top: 10px;
		left: -10px;
	}
	#return-home-dots {
		position: absolute;
		width: 16%;
		top: 15px;
		left: 25px;
	}
	#return-home-text {
		position: absolute;
		left: 20%;
		color: white;
		font-size: 13px;
		line-height: 40px;
	}

	#next {
		position: absolute;
		height: 40px;
		width: 85.9%;
		bottom: 50px;
		left: 0;
		right: 0;
		margin: auto;
	}
	#next a {
		width: 50%;
		position: absolute;
		right: 0;
	}
	#next-1 {
		height: 40px;
	}
	#next-circle {
		position: absolute;
		top: 10px;
		right: -10px;
	}
	#next-dots {
		position: absolute;
		width: 160px;
		top: 15px;
		right: 25px;
	}
	#next-text {
		position: absolute;
		right: 200px;
		color: white;
		font-size: 13px;
		line-height: 40px;
		text-align: right;
	}

	/* istorijat */

	#h1lines {
		position: absolute;
		top: 0;
		right: 50%;
		height: 50px;
		width: 430px;
		border-right: 0.1vw solid white;
		border-bottom: 0.1vw solid white;
	}
	#h2lines {
		position: absolute;
		top: 26vw;
		left: 50%;
		height: 8vw;
		width: 30vw;
		border-top: 0.1vw solid white;
		border-left: 0.1vw solid white;
	}

	/* proizvodi */

	#p2circle {
		position: absolute;
		top: 382px;
		left: 0;
		right: 0;
		margin: auto;
	}

	/* sta-je-novo */

	#n1lines {
		position: absolute;
		top: 21vw;
		left: 35vw;
		height: 11vw;
		width: 30vw;
		border-left: 0.1vw solid white;
		border-top: 0.1vw solid white;
		z-index: 30;
	}
	#n2-circle {
		top: 970px;
		left: 0;
		right: 0;
		margin: auto;
	}
	#n2-dots {
		top: 867px;
		height: 100px;
		left: 0;
		right: 0;
		margin: auto;
	}

	/* dokumenti */

	#pdf-dots {
		position: absolute;
		left: 90px;
		height: 100px;
	}
	#pdf-circle {
		position: absolute;
		top: 105px;
		left: 85px;
	}
	#pdf-image {
		background: url('../img/dokumenti/pdf.svg') no-repeat;
		background-size: 100% auto;
		height: 80px;
		width: 80px;
		position: absolute;
	}

	/* bela peciva */

	#bp2lines1 {
		position: absolute;
		border-left: 0.1vw solid white;
		top: 350px;
		left: 27%;
		height: 100px;
	}
	#bp2lines2 {
		position: absolute;
		border-left: 0.1vw solid white;
		top: 670px;
		left: 27%;
		height: 100px;
	}
	#bp2lines3 {
		position: absolute;
		border-left: 0.1vw solid white;
		top: 1025px;
		left: 27%;
		height: 100px;
	}
	#bp2lines4 {
		position: absolute;
		border-left: 0.1vw solid white;
		top: 1400px;
		left: 27%;
		height: 100px;
	}
	#bp2lines5 {
		position: absolute;
		border-left: 0.1vw solid white;
		top: 1750px;
		left: 27%;
		height: 100px;
	}

	/* hleb */

	#hl1lines {
		width: 30%;
	}
	#hl2lines1, #hl2lines2, #hl2lines3 {
		position: absolute;
		left: 27%;
		top: 40px;
		border-left: 0.1vw solid white;
		height: 134px;
	}
	#hl2lines2 {
		top: 373px;
	}
	#hl2lines3 {
		top: 706px;
	}
	#hl2c {
		top: 60%;
		left: -10px;
	}

	/* polupečeni program */

	#pp1lines {
		position: absolute;
		top: 19vw;
		left: 20%;
		height: 12vw;
		width: 40%;
		border-top: 0.1vw solid white;
	}

	/* pogače */

	#pg2l1, #pg2l2, #pg2l3, #pg2l4, #pg2l5 {
		position: absolute;
		left: 10%;
		height: 10%;
		border-left: 0.1vw solid white;
	}
	#pg2l1 {
		top: 4.5%;
	}
	#pg2l2 {
		top: 23.5%;
	}
	#pg2l3 {
		top: 42.2%;
	}
	#pg2l4 {
		top: 61.3%;
	}
	#pg2l5 {
		top: 81%;
	}
	#pg2c {
		position: absolute;
		top: 65%;
		left: -10px;
		z-index: 30;
	}

	/* nika */

	#nk2l1 {
		position: absolute;
		right: 24%;
		height: 100px;
		top: 5px;
	}
	#nk2l2 {
		position: absolute;
		right: 24%;
		height: 102px;
		width: 40%;
		top: 116px;
		border-top: 0.1vw solid white;
		border-left: 0.1vw solid white;
	}
	#nk2c1 {
		position: absolute;
		right: 23.5%;
		top: 106px;
		z-index: 30;
	}
	#nk2l3 {
		position: absolute;
		right: 63.5%;
		height: 40px;
		top: 380px;
	}
	#nk2l4 {
		position: absolute;
		right: 24%;
		height: 30px;
		width: 40%;
		top: 434px;
		border-top: 0.1vw solid white;
		border-right: 0.1vw solid white;
	}
	#nk2c2 {
		position: absolute;
		right: 63%;
		top: 424px;
		z-index: 30;
	}
	#nk2l5 {
		position: absolute;
		right: 24%;
		height: 40px;
		top: 650px;
	}
	#nk2l6 {
		position: absolute;
		right: 24%;
		height: 50px;
		width: 40%;
		top: 704px;
		border-top: 0.1vw solid white;
		border-left: 0.1vw solid white;
	}
	#nk2c3 {
		position: absolute;
		right: 23.5%;
		top: 694px;
		z-index: 30;
	}

	/* smrznuti program */

	#fr1lines {
		position: absolute;
		top: 19vw;
		left: 55%;
		height: 12vw;
		width: 32%;
		border-top: 0.1vw solid white;
	}

	/* END ELEMENTS*/

	/* TEXT */

	/* index */

	#i3text {
		color: white;
		font-size: 15px;
		line-height: 18px;
		position: absolute;
		width: 320px;
		height: 120px;
		top: 39%;
		left: 67%;
	}
	#i3details {
		color: white;
		font-size: 15px;
		line-height: 18px;
		position: absolute;
		width: 100px;
		height: 20px;
		top: 87%;
		left: 85%;
	}
	#i4text, #i8text {
		color: white;
		background-color: rgba(0,0,0,0.2); 
		font-size: 15px;
		text-align: right;
		line-height: 27px;
		position: absolute;
		padding-left: 40px;
		padding-right: 10px;
		top: 35.4%;
		left: 18.7%;
		border-top-left-radius: 12px;
		border-bottom-left-radius: 12px;
	}
	#i5text {
		color: white;
		font-size: 15px;
		text-align: justify;
		line-height: 18px;
		position: absolute;
		width: 300px;
		height: 150px;
		top: 21%;
		left: 67%;
	}
	#i5details {
		color: white;
		font-size: 15px;
		line-height: 18px;
		position: absolute;
		width: 100px;
		height: 20px;
		top: 89%;
		left: 85%;
	}
	#i6text {
		color: white;
		background-color: rgba(0,0,0,0.2); 
		font-size: 15px;
		text-align: left;
		line-height: 27px;
		position: absolute;
		padding-right: 40px;
		padding-left: 10px;
		top: 35.4%;
		right: 48.6%;
		border-top-right-radius: 12px;
		border-bottom-right-radius: 12px;
		margin-right: 0.2vw;
	}
	#i7text {
		color: darkred;
		font-size: 15px;
		line-height: 18px;
		position: absolute;
		width: 320px;
		height: 150px;
		top: 48%;
		left: 67%;
	}
	#i7details {
		color: white;
		font-size: 15px;
		line-height: 18px;
		position: absolute;
		width: 100px;
		height: 20px;
		top: 89%;
		left: 85%;
	}

	/* o-nama */

	#a1text {
		position: absolute;
		color: white;
		font-size: 5vw;
		top: 63%;
		left: 42%;
	}
	#a2text {
		color: #808080;
		font-size: 3vh;
		line-height: 4vh;
	}
	#a2text span {
		font-weight: 400;
	}

	/* istorijat */

	#h1text {
		position: absolute;
		color: white;
		font-size: 5vw;
		line-height: 5.5vw;
		top: 9vw;
		left: 52%;
	}
	#h2t1 {
		padding-left: 7vw;
		font-size: 20px;
		line-height: 50px;
		color: white;
	}
	#h2tx {
		margin-left: 70px;
		border-left: 0.1vw solid white;
		position: relative;
	}
	#h2tx-circle {
		position: absolute;
		bottom: -10px;
		left: 10px;
	}
	#h2ty {
		position: absolute;
		left: -20px;
		top: 2.4vh;
		padding-left: 40px;
		height: 6vh;
		font-size: 5vh;
		line-height: 6vh;
		color: white;
		border-bottom: 0.1vw solid #a0a0a0;
	}
	#h2tz {
		padding-right: 7vh;
		padding-left: 22vh;
		padding-top: 5vh;
		padding-bottom: 5vh;
		font-size: 3vh;
		line-height: 4vh;
		text-align: justify;
		color: #808080;
	}
	#h2tz span {
		font-weight: 700;
	}

	/* proizvodi */
	#p2t1 {
		position: absolute;
		width: 100%;
		text-align: center;
		top: 320px;
		font-size: 22px;
		line-height: 30px;
		color: #754c24;
	}
	#p2t2 {
		position: absolute;
		width: 100%;
		text-align: center;
		top: 350px;
		font-size: 18px;
		line-height: 30px;
		color: #754c24;
	}
	/* Josefin Sans */
	#ptext {
		font-family: 'Source Sans Pro', sans-serif;
		font-weight: 700;
		color: #754c24;
		font-size: 11px;
		padding-top: 7px;
		text-align: center;
		width: 100%;
	}

	/* sta-je-novo */

	#n1text {
		position: absolute;
		top: 10vw;
		left: 43%;
	}
	#n1t1 {
		position: absolute;
		font-size: 3vw;
		color: white;
		line-height: 3.5vw;
		left: 1.5vw;
	}
	#n1t2 {
		position: absolute;
		font-size: 5vw;
		color: white;
		line-height: 5vw;
		top: 3.3vw;
		left: 5.5vw;
	}
	#n1t3 {
		position: absolute;
		font-size: 3vw;
		color: white;
		line-height: 3.5vw;
		top: 7.8vw;
	}
	#new2 #nika-container {
		position: absolute;
		border-bottom: 0.1vw solid white;
		height: 130px;
		width: 250px;
		top: 40px;
		left: 130px;
	}
	#nct1 {
		position: absolute;
		color: white;
		font-size: 40px;
		left: 10px;
	}
	#nct2 {
		position: absolute;
		color: #754c24;
		font-size: 24px;
		top: 29px;
		left: 60px;
	}
	#nct3 {
		position: absolute;
		color: #754c24;
		font-size: 24px;
		top: 52px;
	}
	#nct4 {
		position: absolute;
		color: white;
		font-size: 24px;
		top: 75px;
		left: 80px;
	}
	#nct5 {
		position: absolute;
		color: #754c24;
		font-size: 32px;
		top: 100px;
		left: 40px;
	}
	#n2t1 {
		font-size: 18px;
		line-height: 23px;
		color: white;
		position: absolute;
		top: 250px;
		left: 130px;
		width: 400px;
	}
	#n2t1 span {
		font-weight: 700;
	}
	#new2 #nika-container-2 {
		position: absolute;
		border-bottom: 0.1vw solid white;
		height: 100px;
		width: 350px;
		top: 1020px;
		left: 330px;
	}
	#nct1-2 {
		position: absolute;
		color: white;
		font-size: 40px;
		left: 110px;
	}
	#nct2-2 {
		position: absolute;
		color: #754c24;
		font-size: 24px;
		top: 29px;
		left: 160px;
	}
	#nct3-2 {
		position: absolute;
		color: #754c24;
		font-size: 24px;
		top: 52px;
		left: 100px;
	}
	#nct4-2 {
		position: absolute;
		color: white;
		font-size: 24px;
		top: 75px;
		left: 180px;
	}
	#n2t2 {
		font-size: 18px;
		line-height: 23px;
		position: absolute;
		color: #707070;
		top: 1150px;
		left: 40%;
		width: 50%;
	}
	#n2t2 span {
		font-weight: 700;
	}

	/* dokumenti */

	#d1t1 {
		position: absolute;
		font-size: 5vw;
		color: white;
		line-height: 3.5vw;
		left: 1.5vw;
	}
	#d1t2 {
		position: absolute;
		font-size: 3.7vw;
		color: white;
		line-height: 5vw;
		top: 3.3vw;
		left: 5.5vw;
	}
	#pdf-container-1 {
		position: absolute;
		top: 200px;
		left: 31%;
		width: 400px;
		height: 135px;
	}
	#pdf-container-2 {
		position: absolute;
		top: 400px;
		left: 31%;
		width: 400px;
		height: 135px;
	}
	#pdf-t1 {
		position: absolute;
		font-size: 18px;
		line-height: 23px;
		color: white;
		top: 90px;
		left: 0;
		width: 70px;
	}
	#pdf-t2 {
		position: absolute;
		font-size: 18px;
		line-height: 23px;
		color: white;
		top: 0;
		left: 110px;
		width: 290px;
	}
	#pdf-t2 span {
		font-weight: 700;
	}
	#docs2 #docs-container {
		position: absolute;
		border-bottom: 0.1vw solid white;
		height: 66px;
		width: 255px;
		top: 40px;
		right: 40.6%;
		z-index: 31;
	}
	#dct1 {
		position: absolute;
		color: white;
		font-size: 40px;
		left: 10px;
		top: -40px;
		border-right: 0.1vw solid white;
		padding-top: 40px;
		padding-bottom: 8px;
	}
	#dct2 {
		position: absolute;
		color: #754c24;
		font-size: 22px;
		top: 29px;
		left: 70px;
	}
	#dct3 {
		position: absolute;
		color: white;
		font-size: 15px;
		top: 48px;
	}

	/* bela peciva */

	#bp2t1 {
		position: absolute;
		width: 300px;
		color: #707070;
		font-size: 20px;
		line-height: 27px;
		border-bottom: 0.1vw solid #070707;
		left: 45%;
	}
	#bp2t1, #bp2t2, #bp2t3, #bp2t4, #bp2t5, #bp2t6 {
		position: absolute;
		width: 300px;
		color: #998675;
		font-size: 33px;
		line-height: 40px;
		border-bottom: 0.1vw solid #998675;
		left: 50%;
		padding-left: 10px;
		top: 200px;
	}
	#bp2t2 {
		top: 550px;
	}
	#bp2t3 {
		top: 900px;
	}
	#bp2t4 {
		top: 1250px;
	}
	#bp2t5 {
		top: 1600px;
	}
	#bp2t6 {
		top: 1950px;
	}

	/* hleb */

	#hl2tc1, #hl2tc2, #hl2tc3 {
		position: absolute;
		left: 45%;
		top: 130px;
		width: 30%;
		height: 30px;
		border-bottom: 0.1vw solid #998675;
	}
	#hl2tc2 {
		top: 460px;
	}
	#hl2tc3 {
		top: 790px;
	}
	#hl2tc1t1 {
		position: absolute;
		left: 60px;
		font-size: 20px;
		color: #998675;
	}
	#hl2tc1t1 span {
		font-size: 35px;
	}
	#hl2tc1t2 {
		position: absolute;
		left: 60px;
		top: 37px;
		font-size: 15px;
		line-height: 19px;
		color: #998675;
	}

	/* polupeceni program */

	#pp2tc1, #pp2tc3, #pp2tc5 {
		position: absolute;
		top: 180px;
		left: 50%;
		width: 40%;
		height: 30px;
		border-bottom: 0.2vw solid white;
	}
	#pp2tc3 {
		top: 660px;
	}
	#pp2tc5 {
		top: 1140px;
	}
	#pp2tct1 {
		position: absolute;
		color: #998675;
		line-height: 30px;
		font-size: 21px;
		left: 90px;
	}
	#pp2tct2 {
		color: #998675;
		font-size: 15px;
		line-height: 19px;
	}
	#pp2tc2, #pp2tc4, #pp2tc6 {
		position: absolute;
		top: 410px;
		right: 50%;
		width: 40%;
		height: 30px;
		border-bottom: 0.2vw solid white;
	}
	#pp2tc4 {
		top: 900px;
	}
	#pp2tc6 {
		top: 1380px;
	}
	#pp2tct3 {
		position: absolute;
		color: #998675;
		line-height: 30px;
		font-size: 21px;
		right: 70px;
		text-align: right;
	}
	#pp2tct4 {
		color: #998675;
		font-size: 15px;
		line-height: 19px;
		text-align: right;
	}

	/* slatka peciva */

	.sp2t {
		position: absolute;
		color: #998675;
		line-height: 30px;
		font-size: 21px;
		left: 50%;
		width: 40%;
		padding-left: 10%;
		border-bottom: 0.2vw solid white;
	}
	#sp2t1 {
		top: 230px;
	}
	#sp2t2 {
		top: 590px;
	}
	#sp2t3 {
		top: 1020px;
	}
	#sp2t4 {
		top: 1380px;
	}
	#sp2t5 {
		top: 1740px;
	}
	#sp2t6 {
		top: 2100px;
	}

	/* pogače */

	.pg2t {
		position: absolute;
		color: #998675;
		line-height: 30px;
		height: 30px;
		font-size: 25px;
		left: 50%;
		width: 30%;
		padding-left: 7%;
		border-bottom: 0.2vw solid white;
	}
	#pg2t1 {
		top: 180px;
	}
	#pg2t2 {
		top: 530px;
	}
	#pg2t3 {
		top: 870px;
	}
	#pg2t4 {
		top: 1220px;
	}
	#pg2t5 {
		top: 1580px;
	}

	/* nika */

	#nika-container-3 {
		position: absolute;
		top: -23px;
		left: 46%;
	}
	#nk2tc1, #nk2tc2, #nk2tc3 {
		position: absolute;
		top: 330px;
		left: 33%;
		width: 20%;
		height: 25px;
		border-bottom: 0.1vw solid white;
	}
	#nk2tc2 {
		top: 600px;
	}
	#nk2tc3 {
		top: 880px;
	}
	#nk2tct1 {
		position: absolute;
		color: #998675;
		line-height: 25px;
		font-size: 17px;
		left: 10px;
	}
	#nk2tct2 {
		color: #998675;
		font-size: 12px;
		line-height: 19px;
	}

	/* slana peciva*/

	.slp2t {
		position: absolute;
		color: #998675;
		line-height: 35px;
		height: 35px;
		font-size: 30px;
		width: 30%;
		padding-left: 3%;
		padding-right: 3%;
		border-bottom: 0.1vw solid white;
	}
	#slp2t1 {
		top: 210px;
		left: 40%;
	}
	#slp2t2 {
		top: 510px;
		right: 40%;
		text-align: right;
	}
	#slp2t3 {
		top: 800px;
		left: 50%;
	}
	#slp2t4 {
		top: 1060px;
		right: 40%;
		text-align: right;
	}
	#slp2t5 {
		top: 1360px;
		left: 50%;
	}
	#slp22t1 {
		top: 210px;
		left: 45%;
	}
	#slp22t2 {
		top: 420px;
		right: 40%;
		text-align: right;
	}
	#slp22t22 {
		top: 485px;
		font-size: 18px;
		right: 40%;
		text-align: right;
		border-bottom: 0;
	}
	#slp22t3 {
		top: 770px;
		left: 45%;
	}
	#slp22t4 {
		top: 1040px;
		right: 45%;
		text-align: right;
	}
	#slp22t5 {
		top: 1340px;
		left: 53%;
	}
	#slp22t6 {
		top: 1560px;
		right: 45%;
		text-align: right;
	}

	/* pite */

	#pt2tc1, #pt2tc3, #pt22tc3 {
		position: absolute;
		top: 180px;
		left: 45%;
		width: 30%;
		height: 30px;
		border-bottom: 0.2vw solid white;
	}
	#pt2tc3 {
		top: 900px;
	}
	#pt22tc3 {
		top: 870px;
	}
	#pt2tct1 {
		position: absolute;
		color: #998675;
		line-height: 30px;
		font-size: 21px;
		left: 90px;
	}
	#pt2tct2 {
		color: #998675;
		font-size: 15px;
		line-height: 19px;
	}
	#pt2tc2, #pt2tc4 {
		position: absolute;
		top: 600px;
		right: 60%;
		width: 30%;
		height: 30px;
		border-bottom: 0.2vw solid white;
	}
	#pt2tc4 {
		top: 1310px;
	}
	#pt2tct3 {
		position: absolute;
		color: #998675;
		line-height: 30px;
		font-size: 21px;
		right: 70px;
		text-align: right;
	}
	#pt2tct4 {
		color: #998675;
		font-size: 15px;
		line-height: 19px;
		text-align: right;
	}

	/* smrznuti program */

	#fr2tc1, #fr2tc2, #fr2tc4, #fr2tc6 {
		position: absolute;
		top: 130px;
		left: 51%;
		width: 35%;
		height: 30px;
		border-bottom: 0.2vw solid white;
	}
	#fr2tc2 {
		top: 750px;
		left: 52%;
	}
	#fr2tc4 {
		top: 1420px;
		left: 60%;
	}
	#fr2tc6 {
		top: 2150px;
		left: 53%;
	}
	#fr2tct1 {
		position: absolute;
		color: #998675;
		line-height: 30px;
		font-size: 21px;
		left: 90px;
	}
	#fr2tct2 {
		color: #998675;
		font-size: 15px;
		line-height: 19px;
	}
	#fr2tc3, #fr2tc5 {
		position: absolute;
		width: 30%;
		height: 30px;
		border-bottom: 0.2vw solid white;
	}
	#fr2tc3 {
		top: 1000px;
		right: 40%;
	}
	#fr2tc5 {
		top: 1710px;
		right: 50%;
	}
	#fr2tct3 {
		position: absolute;
		color: #998675;
		line-height: 30px;
		font-size: 21px;
		right: 70px;
		text-align: right;
	}
	#fr2tct4 {
		color: #998675;
		font-size: 15px;
		line-height: 19px;
		text-align: right;
	}
	#fr22tc1, #fr22tc3, #fr22tc5 {
		position: absolute;
		top: 130px;
		left: 51%;
		width: 35%;
		height: 30px;
		border-bottom: 0.2vw solid white;
	}
	#fr22tc3 {
		top: 950px;
		left: 50%;
	}
	#fr22tc5 {
		top: 1700px;
		left: 50%;
	}
	#fr22tc2, #fr22tc4, #fr22tc6 {
		position: absolute;
		width: 36%;
		height: 30px;
		border-bottom: 0.2vw solid white;
	}
	#fr22tc2 {
		top: 600px;
		right: 50%;
	}
	#fr22tc4 {
		top: 1300px;
		right: 45%;
	}
	#fr22tc6 {
		top: 1980px;
		right: 55%;
	}

	/* END TEXT */

	/* END OTHER*/
}